.fileInput
  display: none
.fileInput + label.file-input-label
  background-color: #6f6f6f !important
.file-input-label
  display: inline-flex
  width: auto
  flex: auto
  align-items: center
.triv-text
  font-weight: bold
  color: #555
.view-map-btn
  background-color: transparent !important
  border:1px solid tomato !important
  color: tomato !important
.view-map-btn:hover
  background-color: tomato !important
  border: 1px solid tomato !important
  color: white !important
.view-report-btn 
  background-color: transparent !important
  border: 1px solid goldenrod !important
  color: goldenrod !important
.view-report-btn:hover
  background-color: goldenrod !important
  color: white !important
  border: 1px solid goldenrod !important  

.disabledInput[disabled]
  color: #555
  font-size: 15px

.example-tree-invisible 
  display: none


.example-tree ul,
.example-tree li 
  margin-top: 0
  margin-bottom: 0
  list-style-type: none
